node_modules/
dist/
*.log
.env
.env.local
.DS_Store
.vscode/
.idea/
.kiro/
target/
src-tauri/target
my_folder/
.fastembed_cache
src-tauri/tests
vscode/
openvibe.toml
venv_translate/
.i18n-translation-cache.json
.i18n-translation-cache.json
.i18n-translation-report.txt
